<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.module_main">

    <application
        android:name="debug.HomeApplication"
        android:allowBackup="true"
        android:label="home组件"
        android:supportsRtl="true"
        tools:replace="android:label"
        android:theme="@style/AppTheme">
        <activity android:name=".WebViewActivity"></activity>
        <activity android:name=".EventCenterActivity" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.ixuea.android.downloader.DownloadService">
            <intent-filter>
                <action android:name="com.ixuea.android.downloader.DOWNLOAD_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>